/* global css */



/*=================== header css ===================*/
.header-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #c1c2c5;
}

.dashboard-header .header-wrapper {
    border-bottom: none;
}

.dashboard-header .user-information-wrapper {
    font-size: .7rem;
    padding: 8px 0;
}

.dashboard-header .last-log-pass p {
    font-size: 12px;
    margin-bottom: 0;
}

.dashboard-header .user-information {
    width: 65px;
}

.logo {
    display: inline-block;
}

.logo img {
    max-height: 80px;
}

.browser-error {
    background-color: #00f;
    color: #f00;
    font-weight: bold;
    text-align: center;
}

.contact,
.address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #c1c2c5;
    padding-right: 15px;
}

.browser-error {
    background-color: #00f;
    color: #f00;
    font-weight: bold;
    text-align: center;
}

.contact .icon,
.address .icon {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #ed1c24;
    margin: 0 auto;
}

.contact-phone,
.address-plot,
.address-location {
    display: block;
    margin-left: auto;
    color: #373736;
    font-size: .75rem;
}

.contact-mail {
    display: block;
    margin-left: 2px;
    color: #373736;
    font-size: .75rem;
    margin-top: 2px;
}

.contact-phone {
    font-family: 'Lato', sans-serif;
}

.contact-phone,
.address-plot {
    font-size: .75rem;
    font-weight: normal;
    color: #000002;
}

.account-button {
    display: inline-block;
    padding: 15px 18px;
    font-size: .75rem;
    line-height: .75rem;
    white-space: nowrap;
    border: 2px solid #373736;
    color: #373736;
    font-weight: bold;
    border-radius: 25px;
    transition: all 0.3s;
    text-transform: uppercase;
}

.signout-button {
    background: unset;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px 0 0;
    color: #E30613;
}

.account-button:hover {
    background: linear-gradient(to bottom, #ec3e45 0%, #b1232c 50%, #851d27 100%);
    border-color: #b1232c;
    text-decoration: none;
    color: #fff;
}

.more-ballance-info {
    display: none;
}

.user-information-wrapper .user-photo {
    height: 45px;
    width: 45px;
    display: block;
    margin-right: 10px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #c1c2c5;
}

.user-information-wrapper .user-image-uploader {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    z-index: 1000;
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #ed1c24;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    display: none;
}

.user-information-wrapper .user-photo:hover .user-image-uploader {
    display: flex;
}

.user-information-wrapper .user-photo .badge {
    position: absolute;
    top: 0;
    left: 65%;
    background-color: #ed1c24;
    color: #ffffff;
    height: 15px;
    width: 20px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 10px;
}

.user-information-wrapper .user-photo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.user-information-wrapper .user-information p {
    margin-bottom: 0;
    word-break: break-all;
    text-align: right;
}

.dashboard-header .ali-express img {
    max-width: 200px;
}

@media (max-width: 1199px) {
    .account-button {
        padding: 10px 10px;
        font-size: .875rem;
    }

    .contact-phone,
    .address-plot {
        font-size: .875rem;
        font-weight: normal;
        color: #000002;
    }
}

@media (max-width: 991px) {

    .contact,
    .address {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid transparent;
    }

    .user-information-wrapper .user-photo {
        height: 40px;
        width: 40px;
    }

    .user-information-wrapper .user-information {
        font-size: .75rem;
    }

    .user-information-wrapper .user-photo .badge {
        height: 22px;
        width: 22px;
    }

    .user-information-wrapper .user-image-uploader {
        height: 100%;
        width: 100%;
        z-index: 1050;
    }

    .signout-button {
        font-size: .875rem;
        line-height: 1rem;
        padding: 10px;
        text-transform: uppercase;
    }
}

@media (max-width: 767px) {

    .contact,
    .address {
        justify-content: center;
        border: none;
    }

    .signout-button {
        position: relative;
        z-index: 1020;
    }

    .contact .icon,
    .address .icon {
        margin: 0;
        margin-right: 15px;
    }
}

@media (max-width: 575px) {
    .dashboard-header .ali-express {
        flex: 1;
        text-align: center;
        margin: 8px 0;
        display: none;
    }

    .dashboard-header .user-information-wrapper {
        flex: 1;
        padding-left: 15px;
    }

    .account-button,
    .signout-button {
        font-size: .875rem;
        line-height: 1rem;
        padding: 10px;
        text-transform: uppercase;
    }

    .user-information-wrapper .user-photo {
        height: 50px;
        width: 50px;
    }

    .logo img {
        max-width: 80px;
    }

    .dashboard-header .last-log-pass {
        flex-wrap: wrap;
    }

    .dashboard-header .last-log-pass p {
        flex: 0 0 100%;
    }

    .dashboard-header .last-log-pass p:nth-child(2) {
        display: none;
    }

    .user-information-wrapper .user-information p {
        text-align: left;
    }
}


/*=================== nav css ===================*/

.main-navbar .navbar-nav {
    width: 100%;
    justify-content: flex-start;
    text-transform: uppercase;
}

.main-navbar .navbar-nav .nav-link {
    color: #373736;
    font-size: .75rem;
    line-height: .75rem;
    border-radius: 3px;
    margin-right: 2px;
    background: linear-gradient(to bottom, #f6f6f7 1%, #d5d6d8 50%, #b5b7b9 100%);
}
@media(min-width: 992px){
    .main-navbar .navbar-nav .nav-item.dropdown>ul {
        display: none!important;
    }
    .main-navbar .navbar-nav .nav-item.dropdown:hover>ul {
        display: block!important;
    }
}

.main-navbar .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}

.main-navbar .navbar-nav .nav-item:not(.active) .nav-link:hover {
    color: #ec3e45;
}

.main-navbar .navbar-nav .active>.nav-link {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, #ec3e45 0%, #b1232c 50%, #851d27 100%);

}

.main-navbar .dropdown-menu {
    padding: 0;
    margin-top: 0;
    border-top: 2px solid transparent;
}

.main-navbar .dropdown-menu li {
    position: relative;
}

.main-navbar .dropdown-item {
    border-bottom: 1px solid #fff;
    font-size: 12px;
    background: #d5d6d8;
}

.main-navbar .dropdown-item:hover {
    background: #fff;
}

.main-navbar .navbar-toggler-icon {
    background: #eee;
}

.main-navbar .submenu {
    margin: 0;
    padding: 0;
}

.main-navbar .dropdown-item:last-child {
    border-bottom: none;
}

.main-navbar .dropdown-item:hover,
.main-navbar .dropdown-item:active {
    color: #ec3e45;
}

@media (max-width: 991px) {
    .main-navbar {
        background: #ddd;
    }

    .main-navbar .navbar-nav .nav-link {
        border-bottom: 1px solid #f6f6f7;
    }

    .main-navbar .dropdown-menu {
        border: none;
        margin: 0;
    }

    .main-navbar .first-dropdown li {
        border-bottom: 1px solid #f6f6f7;
    }

    .main-navbar .dropdown-item:hover {
        background: #d5d6d8;
    }
}

@media(min-width:992px) {
    .main-navbar .dropdown-menu li ul {
        position: absolute;
        top: 0;
        left: 100%;
        border-radius: 5px;
        display: none;
    }

    .main-navbar .dropdown-menu .dropdown-toggle:after {
        border-top: 4px solid transparent;
        border-right: 0;
        border-bottom: 4px solid transparent;
        border-left: 4px solid;
        top: 9px;
    }
    .main-navbar .dropdown-menu .dropdown-item.dropdown-toggle:after {
        vertical-align: unset;
    }
    @media(min-width: 992px){
        .main-navbar .dropdown-menu li:hover ul {
            display: block!important;
        }
    }
}

/* ===============other-bank===================== */
.approved-area th,
.approved-area td,
.confirmation-area th,
.confirmation-area td {
    text-align: left;
}

.other-bank .table thead {
    background: linear-gradient(to bottom, #ec3e45 0%, #b1232c 50%, #851d27 100%);
    color: #fff;
}

.other-bank .collapse-title {
    cursor: pointer;
    font-size: 18px;

}

.other-bank div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
}

.other-bank .dataTables_wrapper {
    display: none;
}

/*=================== Footer css ===================*/
.footer {
    position: relative;
    font-size: .75rem;
}

.footer .footer-nav {
    border-bottom: 1px solid #c1c2c5;
}

.footer .footer-nav .list-inline-item:not(:last-child) {
    margin-right: 0;
}

.footer .footer-nav ul {
    margin-bottom: 10px;
}

.footer .footer-nav .nav-link {
    color: #373736;
    border-right: 1px solid #373736;
    padding-top: 0;
    padding-bottom: 0;
    line-height: .75rem;
    text-transform: uppercase;
}

.footer .footer-nav ul li:last-child .nav-link {
    border-right-color: transparent;
}

.footer .footer-nav .nav-link:hover,
.footer .footer-nav .active .nav-link {
    color: #ed1c24;
}

.footer .footer-nav .footer-text {
    padding: 10px 0;
    color: #8a8c8f;
}

.footer p {
    margin-bottom: 0px;
}

/* =========tab view============== */
.tab-view .nav-tabs {
    margin-top: 30px;
}

.tab-view .nav-tabs {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.tab-view .nav-tabs .nav-item {
    background: #ddd;
    width: 100%;
    border: 1px solid #fff;
    position: relative;
}

.tab-view .nav-tabs .nav-item a {
    color: #373736;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5px 10px;
}

.tab-view .nav-tabs .nav-item a.active {
    background: linear-gradient(to bottom, #ec3e45 0%, #b1232c 50%, #851d27 100%);
    color: #fff;
}

.tab-view .nav-tabs .nav-item a.active::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 22px;
    left: 30px;
    transform: rotate(45deg);
    border-top: 10px solid transparent;
    border-right: 10px solid #b1232c;
    border-bottom: 10px solid #b1232c;
    border-left: 10px solid transparent;
}

.tab-view .tab-content {
    padding: 15px;
    border: 1px solid #fff;
    border-top: none;
    background: #fff;
}

@media(max-width: 767px) {

    .tab-view .nav-tabs .nav-item a,
    .tab-view .nav-tabs .nav-item a.active {
        padding: 5px;
    }
}

/* ========Profile area======= */
.profile-area .profile-content {
    border-radius: 10px;
    border-radius: 0px 0px 122px 0px rgba(19, 110, 146, 0.17);
    overflow: hidden;
}

.profile-area .single-profile {
    display: flex;
    font-size: 12px;
}

.profile-area .single-profile:nth-child(even) {
    background: #f5f6fa;
}

.profile-area .single-profile:nth-child(odd) {
    background: #fff;
}

.profile-area .single-profile {
    display: flex;
}

.profile-area .single-profile>div {
    padding: 12px;
    flex: 0 50%;
}

.profile-area .single-profile .item:first-child {
    font-weight: bold;
}

.profile-area img {
    width: 35px;
}

.profile-area img.organization {
    width: 100px;
}

.profile-area .custom-table-striped tr:nth-child(even) {
    background-color: #f5f6fa;
}

.profile-area .custom-table-striped tr:nth-child(odd) {
    background-color: #fff;
}

.profile-area .custom-file-label:after {
    display: none;
}

.profile-area .custom-file {
    width: 100px;
}

.profile-area .edit-buttons {
    display: flex;
    justify-content: center;
    background: #fff;
    padding-top: 15px;

}

.profile-area .edit-buttons .btn {
    margin: 0 8px 15px;
    font-size: 12px;

}



/* lc info */
.lc-form .form-vertical-var::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 85%;
    background: #ddd;
    top: 0;
    right: 0;
}

.lc-info .lc-form {
    border-radius: 5px;
    background: #fff;
    padding: 15px;
}

.lc-info .form-control {
    background: #E0E0E0;
}

.lc-info .col-form-label {
    text-align: right;
}

.lc-info .dataTables_wrapper {
    display: block;
}

.lc-info .btn-default {
    border: 1px solid #C1C2C5;
}

.lc-form .btn-approve {
    border: 1px solid #ed1c24;
    padding: 6px 12px;
}

.lc-info div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: flex-start;
}

.lc-info table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
.lc-info table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 4px;
}

@media(max-width: 991px) {
    .lc-form .form-vertical-var::after {
        display: none;
    }
}

@media(max-width: 767px) {
    .lc-info .col-form-label {
        text-align: left;
    }
}

/* ===============lc view info================ */
.lc-view-info .tab-left {
    background: #e5e6e7;
}

.lc-view-info .view-info-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 8px;
    font-style: italic;
}

.lc-view-info .view-info-header>div {
    margin-bottom: 5px;
}

.lc-view-info .view-info-header .info-label {
    padding-right: 5px;
}

.lc-view-info .nav-pills .nav-link.active,
.lc-view-info .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #E30613;
    border-radius: 0;
    font-weight: 400;

}

.lc-view-info .nav-pills .nav-link {
    margin-bottom: 5px;
    background: #ddd;
    border-radius: 0;
    display: inline-block;
    font-weight: 500;

}

.lc-view-info .lc-info {
    height: 100%;


}

.lc-view-info .lc-info-inner {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    height: calc(100% - 35px);
}

.lc-view-info .lc-info-inner .single-info {
    display: flex;
    justify-content: center;
    font-size: 12px;

}

.lc-view-info .lc-info-inner .info-left {
    padding-right: 15px;
    flex: 0 0 40%;
    font-weight: 500;

}

.lc-view-info .lc-info-inner .info-right {
    text-align: left;
    flex: 0 0 60%;

}

.lc-view-info .print-info {
    position: absolute;
    right: 15px;
    z-index: 1;
}