@media screen and (min-width: 768px) {
    .wrapper .right {
        max-height: 100vh;
        overflow: auto;
    }

}   
@media screen and (max-width: 1366px) {    
    .bottom-menu {
        bottom: 30px;
    }    
}
@media screen and (max-width: 1024px) {
    .footer .bottom-menu ul li a {
        padding-right: 15px;
    }    
    .btn-submit {
        width: auto;
        height: auto;
        padding: 10px 20px;
    }
}
@media screen and (max-width: 991px) {

    .bottom-menu ul li a { 
        padding-right: 30px;
    }
    .form-wrapper .btn-submit {
        width: 120px;
        height: 50px;
        text-align: center;
        display: block;
    }
    .form-wrapper .new-signup-link {
        padding-top: 48px;
    }
    .signup-form .new-signup-link {
        padding-top: 18px;
    }
    .navbar-nav {
        background-color: rgba(0,0,0,0.1);
        padding: 20px 0;
    }
    .navbar-light .navbar-nav .nav-link, 
    .dropdown-menu.show .dropdown-item {
        color: #666;
        padding-left: 20px;
        padding-right: 20px;
    }
    .dropdown-menu.show .dropdown-item {
        background-color: gainsboro;
    }
    .navbar-light .navbar-nav .nav-link:focus, 
    .navbar-light .navbar-nav .nav-link:hover {
        color: #000;        
        background-color: #ddd;
    }
    .btn-notification {
        margin-left: 0;
    }
    .navbar-light .navbar-nav .btn-notification .nav-link {
        float: left;
    }
    .navbar-light .navbar-nav .btn-notification .nav-link:focus, 
    .navbar-light .navbar-nav .btn-notification .nav-link:hover {      
        opacity: 0.6;
        background-color: transparent;
    }
    .btn-notification .dropdown-menu {
        background-color: transparent;
    }
    .custom-bottom-arrow.show::after {
        display: none;
    }
    .footer .bottom-menu ul li a {
        padding-right: 15px;
    }
    .maincontent-heading {
        padding-top: 25px;
    }
    .left-sidebar .sidebar-heading {
        padding: 30px 0 0 30px;
    }
    .left-sidebar .sidebar-heading .rate p {
        font-size: 22px;
    }
    .left-sidebar .sidebar-heading .btn-reload {
        line-height: 28px;
    }
    .left-sidebar .sidebar-heading {
        height: 100px;
    }
    .maincontent-heading .heading-left {
        width: 65%;
    }
    .maincontent-heading .heading-left h1 {
        font-size: 18px;
    }
    .maincontent-heading .heading-right {
        width: 35%;
    }
    .maincontent-heading .heading-right p.price {
        font-size: 17px;
    }
    .maincontent-heading {
        height: 144px;
    }
    .left-sidebar .quick-menu ul li a span {
        width: 8px;
    }
    .left-sidebar .quick-menu ul li a {
        font-size: 14px;
    }
    .main-constent-wrapper {
        padding-top: 40px;
    }    
    .signup {
        position: static;
    }
    .signup .signup-form img {
        top: 0;
    }
}
@media screen and (max-width: 767px) {
    .logo img{
        max-width: 160px;
    }
    .left-sidebar .sidebar-heading .rate p {
        font-size: 18px;
    }
    .left-sidebar .sidebar-heading {
        padding: 20px 0 0 30px;
        height: 81px;
    }
    .left-sidebar .sidebar-heading .btn-reload {
        line-height: 21px;
        width: 27px;
    }
    .left-sidebar .quick-mebu-titlebar {
        font-size: 14px;
        line-height: 39px;
    }
    .maincontent-heading {
        margin-top: 30px;
        padding: 25px 20px 0px;
    }    
    .left-sidebar .quick-menu ul li a {
        font-size: 14px;
    }
    .maincontent-heading .heading-left {
        width: 65%;
    }
    .maincontent-heading .heading-left h1 {
        font-size: 18px;
    }
    .maincontent-heading .heading-right {
        width: 35%;
    }
    .maincontent-heading .heading-right p.price {
        font-size: 17px;
    }
    .footer {
        padding-top: 55px;
    }
    .table-responsive {
        overflow: auto;
    }
    .custom-table {
        min-width: 500px;
    }
    .footer .bottom-menu, 
    .footer .copyright {
        text-align: center;
        padding-bottom: 20px;
    }
    .wrapper .right{
        width: 100%;
        height: auto;
        position: static;
        padding-top: 20px;
    }
    .signup .form-wrapper .new-signup-link {
        padding-top: 10px;
    }
    .bottom-menu {
        position: static;
        clear: both;
    }
    .wrapper .left{
        position: static;
        display: block;
        height: auto;
        width: 100%;
        padding: 20px;
        height: 72px;
    }
}

@media screen and (max-width: 480px) {
    .main-constent-wrapper {
        padding-top: 10px;
    }
    
    .wrapper .right {
        width: 100%;
        padding-top: 30px;
    }
    .bottom-menu ul li a {
        padding-right: 20px;
    }
    .form-wrapper {
        max-width: 100%;
        /*padding: 0;*/
    }
    .form-wrapper .btn-submit {
        width: auto;
        height: 40px;
        margin-top: 10px;
        border-radius: 20px;
    }
    .form-wrapper .new-signup-link {
        padding-top: 20px;
    }
    .form-wrapper h1 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .address {
        font-size: 16px;
        margin-top: 30px;
    }
    .btn-signup {
        width: 76px;
        height: 36px;
    }
    .carousel-item {
        height: 200px;
    }
}
@media screen and (max-width: 375px) {
    .bottom-menu {
        bottom: 30px;
    }
    .search-box input[type="text"]:focus {
        width: 205px;
    }
}

/* signup form *# */
@media screen and (min-width: 1500px) {
    .signup-header {
        padding: 50px 0 30px 0;
    }
}
@media screen and (max-width: 1550px) {
    .signup-header h1, 
    .signup-header h2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1300px) {
    .signup-header h1, 
    .signup-header h2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1100px) {
    .admin-theme .header-top {
        margin-right: auto;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .wrapper .right {
        min-height: calc(100vh - 72px);
    }
    .admin-theme .header-top { padding-top: 0; }
    .admin-theme .bottom-menu p {
        font-size: 12px;
        margin: 0;
    }
    .admin-theme .login-form input[type="text"],
    .admin-theme .login-form input[type="password"] {
        line-height: 50px;
    }
    .admin-theme .form-wrapper .btn-submit {
        width: 100%;
        height: 50px;
        border-radius: 32px;
    }
}

@media screen and (max-width: 480px) {
    .admin-theme .form-wrapper h1 {
        padding-bottom: 0;
        margin-bottom: 30px;
    }
}

/*dashboard responcive css*/
@media screen and ( max-width: 1550px ) {
    .left-sitebar-area .card-header {
        font-size: 20px;
    }
    .left-sitebar-area .card-body a {
        font-size: 16px;
    }
    .left-bg-icon { max-width: 250px; }
}
