/*================= color=================== */
.white {
    color: #fff;
}

.red {
    color: #ec3e45;
}

.red-light {
    color: #FF0000;
}

.red-dark {
    color: #bd2130;
}

.black {
    color: #000000;
}

.black-light {
    color: #212529;
}

.gray {
    color: #505050;
}

.green-light {
    color: #6CC05E;
}

.blue-light {
    color: #0404ce;
}

.bg-red {
    background-color: #ec3e45;
}

/* =================buttons====================== */
.btn:focus {
    box-shadow: none;
}

.btn-default {
    width: 135px;
    border-radius: 21px;
    color: #343a40;
    background-color: transparent;
    border: 2px solid #343a40;
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-default:hover {
    color: #fff;
    background: #ed1c24;
    border: 2px solid #ed1c24;

}

.btn-approve {
    background: #ed1c24;
    border: 2px solid #ed1c24;
    color: #fff;
    border-radius: 21px;
    padding: 8px 16px;
    width: 135px;
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-approve:hover {
    background-color: #bd2130;
    border: 2px solid #bd2130;
    color: #fff;
    border-radius: none;
}

.btn-inactive-modal {
    background-color: #ec3e45;
    border: 2px solid #ec3e45;
    color: #fff;
    border-radius: 21px;
    padding: 8px 16px;
    width: 135px;
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-inactive-modal:hover {
    background-color: #bd2130;
    border: 2px solid #bd2130;
    color: #fff;
    border-radius: none;
}

.btn-close {
    color: #ffffff;
    border: 1px solid #ddd;
    background: #E30613;
}

.btn-close:hover {
    color: #ffffff;
    background: linear-gradient(to bottom, #ec3e45 0%, #b1232c 50%, #851d27 100%);
}

/*=========== global ==============*/
body {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

a {
    color: #222;
    cursor: pointer;
}

th,
td {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}

th {
    text-transform: uppercase;
}

td {
    text-transform: capitalize;
}

.lc-table th,
.lc-table td {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}

.lc-table th,
.lc-table td {
    text-transform: capitalize;
}


.padding {
    padding: 15px 0;
}

.normal-user {
    background-image: url(../img/ucbl-background.svg);
    background-color: #edeeef;
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: 2% 0%;
}

.ledger-heading {
    font-weight: normal;
}

.custom-select {
    background-image: url(../img/down-arrow.svg);
    background-size: 15px 10px;
    background-repeat: no-repeat;
    background-position: right .75rem center;
}

.custom-select:focus {
    box-shadow: none;
}



.dashboard-card-select {
    border: none !important;
    padding: 0 !important;
    background-color: transparent !important;
    margin-top: -9px;
    font-weight: bold;
    font-size: 12px;
}

.dpflex {
    display: flex;
}

.next-icon {
    background-repeat: no-repeat;
    height: 17px;
}

.more-view-button .veiw-button .icon {
    display: inline-block;
    color: #c1c2c5;
    transition: all 0.3s;
}

.fixed-table-container {
    border: none;
    padding: 0px 15px;
}

.fixed-table-container {
    position: relative;
    clear: both;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.fixed-table-container .no-records-found {
    text-align: center;
}

.saving-account {
    padding: 5px 10px;
    text-align: left;
    text-transform: uppercase;
    color: #222;
    font-size: 18px;
}

.account-header {
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(to bottom, #ec3e45 0%, #b1232c 50%, #851d27 100%);
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}

@media(max-width:767px) {
    .account-header {
        font-size: 18px;
    }
}

.page-link,
.page-link:hover {
    color: #b1232c;
}

.page-link:focus {
    box-shadow: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background: linear-gradient(to bottom, #ec3e45 0%, #b1232c 50%, #851d27 100%);
    border-color: #b1232c;
}

.template-management .dataTables_wrapper {
    display: block;
}

.arrow-up {
    transform: rotate(180deg)
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.global.table thead {
    background: linear-gradient(to bottom, #ec3e45 0%, #b1232c 50%, #851d27 100%);
    color: #fff;
}

.global.table-title {
    padding: 5px 0;
    text-align: left;
    text-transform: capitalize;
    color: #222;
    font-size: 18px;

}

.approved-form .btn-default {
    padding: 8px 15px;
}

a:hover {
    color: #b1232c;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
}

.dataTables_wrapper .page-link {
    padding: 5px 10px;
}

[type="date"] {
    background: #E0E0E0 url(../img/calendar.png) 97% 50% no-repeat !important;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.custom-select {
    background-color: #E0E0E0;
}

select {
    border: 1px solid #888;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}
