<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title>Unet- Secure.Easy.Smart</title>
   <meta name="keywords" content="resposnive,bootstrap,clean,creative" />
   <meta name="description" content="Bootstrap4 Responsive Template">
   <meta name="author" content="" />
   <link rel="icon" href="img/favicon.ico">
   <!-- fonts css -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap" rel="stylesheet">
   <!-- plugins css -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- main css -->
   <link rel="stylesheet" href="css/global.css">
   <link rel="stylesheet" href="css/main-menu.css">
</head>

<body class="normal-user">


   <nav class="navbar navbar-expand-lg main-navbar">
      <div class="container">
         <button class=" ml-auto mb-2 mb-lg-0 d-inline-block d-lg-none" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            MENU
            <!-- <span class="navbar-toggler-icon"></span> -->
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill navforactive nav-root-label">

                <li class="nav-item active dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                       Dashboard
                    </a>
                    <ul class="dropdown-menu first-dropdown" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown dropdown-item dropdown-toggle" href="#" id="navbarDropdownSecond"
                             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CASA</a>
                          <ul class="dropdown-menu second-dropdown" aria-labelledby="navbarDropdownSecond">
                             <li> <a class="dropdown-item" href="#">Current Details</a></li>
                             <li> <a class="dropdown-item" href="#">Current Statement</a></li>
                             <li> <a class="dropdown-item" href="#">Savings Details</a></li>
                             <li> <a class="dropdown-item" href="#">Savings Statement</a></li>
                          </ul>
                       </li>
                       <li><a class="dropdown dropdown-item dropdown-toggle" href="#" id="navbarDropdownSecond"
                             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OD/ CC</a>
                          <ul class="dropdown-menu second-dropdown" aria-labelledby="navbarDropdownSecond">
                             <li> <a class="dropdown-item" href="#">OD/ CC Details</a></li>
                             <li> <a class="dropdown-item" href="#"> OD/ CC Statement</a></li>
                          </ul>
                       </li>
                       <li><a class="dropdown dropdown-item dropdown-toggle" href="#" id="navbarDropdownSecond"
                             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SND</a>
                          <ul class="dropdown-menu second-dropdown" aria-labelledby="navbarDropdownSecond">
                             <li> <a class="dropdown-item" href="#">SND Details</a></li>
                             <li> <a class="dropdown-item" href="#">SND Statement</a></li>
                          </ul>
                       </li>
                       <li><a class="dropdown dropdown-item dropdown-toggle" href="#" id="navbarDropdownSecond"
                             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Loans & Advances</a>
                          <ul class="dropdown-menu second-dropdown" aria-labelledby="navbarDropdownSecond">
                             <li> <a class="dropdown-item" href="#">Loan Statement</a></li>
                             <li> <a class="dropdown-item" href="#">Loan Repayment Statement</a></li>
                          </ul>
                       </li>
                       <li><a class="dropdown dropdown-item dropdown-toggle" href="#" id="navbarDropdownSecond"
                             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TD/ DPS</a>
                          <ul class="dropdown-menu second-dropdown" aria-labelledby="navbarDropdownSecond">
                             <li> <a class="dropdown-item" href="#">TD Statement</a></li>
                             <li> <a class="dropdown-item" href="#">DPS Statement</a></li>
                          </ul>
                       </li>
                    </ul>
                 </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     Fund Transfer
                  </a>
                  <ul class="dropdown-menu first-dropdown" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" href="#">Within UCB Fund Transfer</a> </li>
                     <li><a class="dropdown-item" href="#">Own Accounts Fund Transfer</a> </li>
                     <li><a class="dropdown-item" href="#">Other Bank Account Fund Transfer (EFTN)</a> </li>
                     <li><a class="dropdown-item" href="#">Other Bank Account Fund Transfer (NPSB)</a> </li>
                     <li><a class="dropdown-item" href="#">Other Bank Account Fund Transfer (RTGS)</a> </li>
                     <li><a class="dropdown-item" href="#">Fund Transfer History</a> </li>
                     <li><a class="dropdown-item" href="#">Bulk Transfer</a> </li>
                     <li><a class="dropdown-item" href="#">Bulk Transfer History</a> </li>
                     <li><a class="dropdown-item" href="#">Bulk Mobile Recharge</a> </li>
                     <li><a class="dropdown-item" href="#">Bulk Mobile Recharge History</a> </li>
                  </ul>
               </li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                   Trade Finance 
                </a>
                <ul class="dropdown-menu first-dropdown" aria-labelledby="navbarDropdown">
                   <li><a class="dropdown-item" href="#">Export LC</a> </li>
                   <li><a class="dropdown-item" href="#"> Import LC</a> </li>
                </ul>
             </li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                   Profile
                </a>
                <ul class="dropdown-menu first-dropdown" aria-labelledby="navbarDropdown">
                   <li><a class="dropdown-item" href="#">Customer Details</a></li>
                   <li><a class="dropdown-item" href="#">Change Password</a></li>
                </ul>
             </li>
            </ul>
         </div>
      </div>
   </nav>

   <!-- jQuery -->
   <script src="js/jquery-3.4.0.min.js"></script>
   <script src="js/jquery-migrate-3.0.0.min.js"></script>
   <!-- plugins and framework js -->
   <script src="js/bootstrap.bundle.min.js"></script>
   <!-- Custom js -->
   <script src="js/main.js"></script>
</body>

</html>