.disabled {
       cursor: not-allowed;
}
.bg-none {
       background: unset;
}
.bg-transparent {
       background: transparent;
}
.hidden {
       visibility: hidden;
}
.cursor-pointer {
       cursor: pointer;
}