body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    color: #00c0af;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* owl-carousel */
.home-top-slider .owl-nav,
.benefit-area .owl-nav {
    display: flex;
    position: absolute;
    bottom: 50px;
}

.home-top-slider .owl-nav button.owl-prev,
.home-top-slider .owl-nav button.owl-next,
.benefit-area .owl-nav button.owl-prev,
.benefit-area .owl-nav button.owl-next,
.signup-process .owl-nav button.owl-prev,
.signup-process .owl-nav button.owl-next {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    line-height: 0;
    margin: 0 8px;
    padding-bottom: 5px !important;
    outline: none;
}

@media(min-width: 1350px) {
    .container {
        max-width: 1300px;
    }
}