
body {
   font-family: 'Poppins', sans-serif;
}

/* global button */
.btn-success {
   background: #2BA570;
   border-color: #2BA570;
}

.btn-success:hover,.btn-success:focus, .btn-success:not(:disabled):not(.disabled):active{
   background: #1e8e5e;
   border-color: #1e8e5e;
}

/* global input */
.custom-file-input:lang(en)~.custom-file-label::after {
   font-family: 'FontAwesome';
   content: "\f0ee";
   border-left: none;
   background-color: transparent;
   display: none;
}

.custom-file-label {
   background: #FAFAFA;
   border: 1px solid rgba(0, 0, 0, 0.06);
}


.text-red {
   color: red;
}

.unipet-form {
   padding: 40px 80px;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
   border-radius: 6px;
}

.unipet-form {
   padding: 40px 80px;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
   border-radius: 6px;
}

.unipet-form .form-header {
   color: #232323;
   margin-bottom: 40px;
}

.unipet-form .form-header h2 {
   font-weight: 500;
   font-size: 30px;
   line-height: 45px;
}

.unipet-form .form-header p {
   opacity: 0.8;
   line-height: 26px;
}

.unipet-form label {
   font-weight: 500;
   font-size: 14px;
   color: #0B0F32;
}

.unipet-form .form-control {
   background: #FAFAFA;
   border: 1px solid rgba(0, 0, 0, 0.06);
   border-radius: 3px;
   font-size: 14px;
}

.unipet-form select {
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}

.unipet-form .custom-down-arrow::after {
   content: "";
   position: absolute;
   top: 9px;
   right: 15px;
   width: 10px;
   height: 10px;
   border-right: 2px solid #576372;
   border-bottom: 2px solid #576372;
   transform: rotate(45deg);
   pointer-events: none;

}

.unipet-form .form-control::placeholder {
   color: rgba(35, 35, 35, 0.6);
}

.unipet-form label>.file-upload-label {
   color: rgba(35, 35, 35, 0.6);
}







