html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: none;
  color: #F59CB0;
}

img {
  max-width: 100%;
}

ul {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

span {
  display: inline-block;
}

:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

:disabled {
  cursor: not-allowed;
}

.disabled {
  cursor: not-allowed !important;
}

.bg-none {
  background: unset !important;
}

.bg-transparent {
  background: transparent !important;
}

.hidden {
  visibility: hidden !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.section-padding {
  padding: 50px 0;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.bg-white {
  background-color: #ffffff;
}

.bg-primary {
  background-color: #F59CB0 !important;
}

.color-white {
  color: #ffffff !important;
}

.color-primary {
  color: #F59CB0 !important;
}

.br-1 {
  border-radius: 1px !important;
}

.br-2 {
  border-radius: 2px !important;
}

.br-3 {
  border-radius: 3px !important;
}

.br-4 {
  border-radius: 4px !important;
}

.br-5 {
  border-radius: 5px !important;
}

.panel {
  border-radius: 5px;
  padding: 15px;
  background-color: #F59CB0;
}

.flex-between-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  border-top: 1px solid #dddddd;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn.btn-primary {
  color: #ffffff;
  background: #F59CB0;
  border: 1px solid #F59CB0;
}

.btn.btn-primary:hover, .btn.btn-primary:not(:disabled):not(.disabled):active {
  background: #F59CB0;
  border: 1px solid #F59CB0;
  opacity: 0.9;
  outline: 0;
}

.btn.btn-primary:disabled, .btn.btn-primary.disabled {
  color: #ffffff;
  background: #F59CB0;
  border: 1px solid #F59CB0;
  opacity: 0.6;
}

.btn.btn-primary img {
  margin-right: 5px;
}

.btn.btn-parter-search {
  color: #F59CB0;
  background: #ffffff;
  border: 1px solid #F59CB0;
}

.btn.btn-parter-search:hover, .btn.btn-parter-search:not(:disabled):not(.disabled):active {
  background: #ffffff;
  border: 1px solid #F59CB0;
  opacity: 0.9;
  outline: 0;
}

.btn.btn-parter-search:disabled, .btn.btn-parter-search.disabled {
  color: #ffffff;
  background: #F59CB0;
  border: 1px solid #F59CB0;
  opacity: 0.6;
}

.btn.btn-primary-outlined {
  color: #F59CB0;
  background: #ffffff;
  border: 1px solid #F59CB0;
}

.btn.btn-primary-outlined:hover, .btn.btn-primary-outlined:not(:disabled):not(.disabled):active {
  background: #F59CB0;
  border: 1px solid #F59CB0;
  color: #ffffff;
  outline: 0;
}

.btn.btn-primary-outlined:disabled, .btn.btn-primary-outlined.disabled {
  color: #F59CB0;
  background: #ffffff;
  border: 1px solid #F59CB0;
  opacity: 0.6;
}

.btn.btn-sm {
  font-size: 12px;
  padding: 3px 8px;
}

.btn.btn-min {
  min-width: 150px;
}

@media only screen and (max-width: 991px) {
  .btn.btn-min {
    min-width: 110px;
  }
}

.btn.btn-round {
  border-radius: 18px;
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top-menu.on-scroll {
  background: #f59cb0;
}

.top-menu a {
  color: #ffffff;
}

.top-menu .login a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.top-menu .login a img {
  margin-right: 5px;
}

.banner {
  background: url(../../img/banner-bg.jpg) no-repeat center center/cover;
  height: 600px;
  color: #ffffff;
  text-align: center;
  position: relative;
  padding: 100px 0;
}

.banner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.banner .select-custom {
  border-radius: 18px;
  border: 1px solid #F59CB0;
  color: #F59CB0;
}

.banner .card-signup {
  width: 300px;
  background: #ffffff;
  color: #F59CB0;
  padding: 30px;
  border-radius: 15px;
  margin-left: auto;
}

.banner .banner-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.feature .feature-inner {
  width: 70%;
  margin: auto;
}

.feature .feature-inner .item {
  text-align: center;
  padding: 25px;
}

.feature .feature-inner .item .feature-icon {
  display: inline-block;
  width: 78px;
  height: 58px;
}

.feature .feature-inner .item p {
  margin-top: 10px;
}

.conversation .panel .step-line {
  width: 80%;
  margin: 20px auto;
  display: block;
}

.conversation .panel .item {
  position: relative;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.conversation .panel .item::after {
  position: absolute;
  content: "";
  height: 80px;
  width: 1px;
  background: #ffffff;
  right: -13px;
}

.conversation .panel .item.last::after {
  display: none;
}

.find-partner .card-facility-wrapper {
  padding: 50px 0;
  background: url(../../img/find-parter-bg.png) no-repeat center center;
}

.find-partner .card-facility-wrapper .card-facility {
  max-width: 400px;
  margin: 0 auto;
  background: #ffffffd9;
  -webkit-box-shadow: 0 0 5px #ddd;
          box-shadow: 0 0 5px #ddd;
}

.find-partner .card-facility-wrapper .card-facility .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  opacity: 0.7;
}

.find-partner .card-facility-wrapper .card-facility .item img {
  margin-right: 8px;
}
/*# sourceMappingURL=style.css.map */